
{% extends 'base/base.html' %}

{% block  content %}
   {%for blog in all_post%}
      <div class="col-md-4">
        <h2>{{blog.title}}</h2>
        <p>{{blog.pre}} </p>
        <p><a class="btn btn-secondary" href="{% url 'Blog:detail' blog.id %}" role="button">View details &raquo;</a></p>
         <br><br>
      </div>
     
      {% endfor %}
      <br>
 <div class="pagination">
    <span class="step-links">
       <span class="current">
            Page {{ all_post.number }} of {{ all_post.paginator.num_pages }}.
        </span>
        {% if all_post.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ contacts.previous_page_number }}">previous</a>
        {% endif %}

     

        {% if all_post.has_next %}
            <a href="?page={{ all_post.next_page_number }}">next</a>
            <a href="?page={{ all_post.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
<p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>
{% endblock  %}
 

